body{
  background: #222;
  font-family: sans-serif;
  color: #fff;
}

.container{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  height: 100vh;
  width: 100%;
}

.content{
  display: flex;
  display: -webkit-flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.wrapper{
  display: flex;
  display: -webkit-flex;
  width: 50%;
  border:1px solid #565656;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-align-content: center;
  height: auto;
}

.box {
  width: 8vw;
  height: 7vw;
  cursor: pointer;
}

.box img{
  width: 100%;
  height: 100%;
}

.options{
  display: flex;
  display: -webkit-flex;
  position: relative;
  top: 15px;
}

.start{
  cursor: pointer;
  border: none;
  padding: 10px 30px;
  font-size: 20px;;
  color: #fff;
  background: #008000;
  border-radius: 10px;
}

.start:hover{
  background: #355142;
}

@media (max-width: 890px){
  .container, .wrapper, .content{
    height: auto;
  }

  .header{
    margin: 20px 0;
  }

  .content{
    margin-bottom: 20px;
  }

  .options{
    margin-bottom: 10px;
  }

  .start{
    padding: 5px 20px;
    font-size: 16px;
  }
}

@media (max-width: 490px){
  .box{
    width: 15vw;
    height: 16vw;
  }
}